<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Api</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="col-10">
        <table class="table">
            <tr>
                <th>Navn</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Plast</th>
                <th>Glass_metall</th>
                <th>Tekstil_sko</th>
            </tr>
        {{ range .Entries }}
            <tr>
                <td>{{.Navn}}</td>
                <td>{{.Latitude}}</td>
                <td>{{.Longitude}}</td>
                <td>{{if eq .Plast "J"}}
                    <i class="fas fa-check"></i>
                {{else}}
                    X
                {{end}}</td>
                <td>{{if eq .Glass_metall "J"}}
                <i class="fas fa-check"></i>
                    {{else}}
                    X
                    {{end}}
            </td>
                <td>
                {{if eq .Tekstil_sko "J"}}
                    <i class="fas fa-check"></i>
                {{else}}
                    X
                {{end}}</td>
            </tr>
        {{end}}
</table>
    </div>
</div>
</body>
</html>